.Button{
    border: none;
    width: 15rem;
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    background-color: #474747;
}
.Button:hover{
    background-color: #595959;
}
.Button:focus{
    border: none;
    outline: 0;
}
.Button:active{
    background-color: #303030;

}
.Button:h